<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Home Page</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
<button id="logout-button">Đăng Xuất</button>

<div class="container">
    <div class="user-info">
        <img id="user-avatar" alt="User Avatar">
        <h1 id="welcome-message"></h1>
        <p id="account-number"></p>
        <p id="balance"></p>

    </div>
    <button onclick="redirectToSavingsList()">Tiền Tiết Kiệm</button>
</div>

<script src="/static/js/home.js"></script>
</body>
</html>
