<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Multi-Step Progress Bar</title>
    <link rel="stylesheet" href="/static/css/maturing.css">
    <style>
        .loading {
            display: inline;
            height: 20px;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="status-container">
        <div id="status0">
            Start process: <span id="step0Status"></span>
            <img src="/static/gif/loading.gif" alt="Loading" class="loading" id="step0Loading">
        </div>
        <div id="status1">
            Verify Password: <span id="step1Status"></span>
            <img src="/static/gif/loading.gif" alt="Loading" class="loading" id="step1Loading">
        </div>
        <div id="status2">
            Maturing Saving Account: <span id="step2Status"></span>
            <img src="/static/gif/loading.gif" alt="Loading" class="loading" id="step2Loading">
        </div>
        <div id="status4">
            Update balance:  <span id="step4Status"></span>
            <img src="/static/gif/loading.gif" alt="Loading" class="loading" id="step4Loading">
        </div>
        <div id="status3">
            End Process: <span id="step3Status"></span>
            <img src="/static/gif/loading.gif" alt="Loading" class="loading" id="step3Loading">
        </div>
    </div>
    <button onclick="window.location.href='/savings-list'">Go to Savings List</button>
</div>
<script src="/static/js/maturing.js"></script>
</body>
</html>
